services:

  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_DB: gutendex
      POSTGRES_USER: gutendex
      POSTGRES_PASSWORD: gutendex
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U gutendex -d gutendex" ]
      interval: 5s
      retries: 10

  backend:
    build: .
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - backend-network
      - frontend-network

    volumes:
      - static:/static
      - catalog:/app/catalog_files

    ports:
      - "8000:8000"

  nginx:
    image: nginx:latest
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
    volumes:
      - static:/static
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    networks:
      - frontend-network

volumes:
  pgdata:
  static:
  catalog:


networks:
  backend-network:
    driver: bridge
  frontend-network:
    driver: bridge
